*.iml
.gradle
.idea/
DimensionApp/local.properties
local.properties
.idea/libraries
.idea/workspace.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.DS_Store
build/
app/build/
captures/
.externalNativeBuild
app/.cxx/
*.apk
*.ap_
sourcecode.properties
source.properties
GaloisDemo/libs/
CaptureDemo/rssdk/
Safe/.cxx/
Capture-imp-open/rssdk/
RsWebview/rssdk/
